<footer>
  <div class="footer_container">
    <div class="footer_logo_area"><p>Let's Trip</p></div>
    <div class="footer_support_link"><p>サポート</p></div>
    <div class="footer_work_link"><p>運営会社について</p></div>
  </div>
</footer>